@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 1) 65%,
    rgba(122, 228, 118, 1) 80%,
    rgba(20, 174, 126, 1) 95%
  );
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@layer components {
  .nav-link {
    @apply inline pt-5 pb-5
  }

  .nav-link + .nav-link {
    @apply pl-5
  }

  .button {
    @apply bg-green-400 w-full h-10 hover:bg-green-300
  }

  .alternating-rows thead tr {
    @apply bg-gray-300
  }

  .alternating-rows td {
    @apply border-x-2 border-background
  }

  .alternating-rows th {
    @apply border-x-2 border-background
  }

  .alternating-rows tbody tr{
    @apply even:bg-gray-300 odd:bg-gray-100
  }

  .h-full-section-container {
    @apply h-[calc(100%-40px)]
  }

  .button-link {
    @apply button p-2 inline-block text-center
  }

  .spacer-row {
    @apply border-b-slate-800 border-b-2 border-double h-0 my-1
  }
}